
 body {
       padding: 0;
       margin: 0;
       font-family: sans-serif;
   }

#topo{	
	width: 100%;

}


#menu{
	position: relative;
	width: 140px;	
}


#texto{
	position: relative;
	margin-left: 140px;
	right: 40px;
	height: 150px;
	overflow: auto;	
}



.bts{	
	padding: 10px;	
}

.bts a{
	display: inline-block;
	zoom:2;
	display: block;
	vertical-align: baseline;
	text-decoration: none;
	font: 12px Arial;
	padding: .5em 1em .55em;
	text-shadow: 0 5px 2px rgba(0,0,0, .3);
	webkit-box-shadow: 0 5px 2px rgba(0,0,0, .2);
	zoz-box-shadow: 0 5px 2px rgba(0,0,0, .2);
	background: #333;
	color: #d7d7d7;
}

#sombra{
	text-shadow: 0 10px 2px rgba(0,0,0, .5);
	font: 20px Script;
	zoom:2;
}



.container {
       margin: auto;
       width: 960px;
   }
   .top-bar{
       width: 100%;
       height: 30px;
       background: #141414;
      color: #888;
       line-height: 30px;
   }
   .top-bar .player-controls {
       float: left;
   }
   .top-bar .player-controls span{
       cursor: pointer;
       padding: 0 5px;
       -webkit-transition: all linear 0.2s;
   }
   .top-bar .player-controls span:hover {
       color: #EEE;
   }
   .top-bar .player-display {
       float: left;
       float: right;
       margin-left: 50px;
   }
   .top-bar .player-display .player-current-track {
       color: white;
   }
  .top-bar .player {
       float: left;
   }
  .top-bar .player-timeline {
      float: left;
       max-width: 200px;
       width: 200px;
       height: 4px;
      margin-top: 13px;
       background: #555;
      margin-left: 20px;
   }
   .top-bar .player-timeline-control {
       height: 4px;
       background: #999;
   }
