body{
	background: url(../imagens/back3.jpg);
}

#conteudo{
			background: transparent;
			width: 850px;
			height: 1100px;
			margin: auto;

		}

#topo{
	width: 850px;
	height: 250px;
	background: url(../imagens/back4.gif);
	background-size: 100%;

}

#procura{
	margin-left: 675px;
	padding-top: 135px;
}

#idioma{
	margin-left: 675px;
	background: blue;	
}

#idioma a{
	color: white;
}

#idioma a:hover{
	color: #09f;
}


#menu{
	width: 440px;
	height: 40px;
	background: #666;	
	margin: 10px;
	margin-left: 200px;
	margin-top: 10px;
}

#fotop{
	width: 630px;
	height: 180px;
	background: #999;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}

#contrel{
	width: 180px;
	height: 260px;
	background: #999;
	float: right;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 10px;
}

#desc1{
	width: 630px;
	height: 70px;
	background: #999;
	float: left;
	margin-top: 10px;
	margin-left: 10px;	
}

#caixa{
	background: #6c0;
	width: 850px;
	height: 250px;
	float: left;
	margin-top: 30px;
}

#caixa2{
	background: #6c0;
	width: 850px;
	height: 250px;
	float: left;
	margin-top: 10px;
}

.not1{
	background: #999;
	width: 305px;
	height: 170px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.not2{
	background: #999;
	width: 305px;
	height: 170px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.dnot1{
	background: #999;
	width: 305px;
	height: 70px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.dnot2{
	background: #999;
	width: 305px;
	height: 70px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

.redes{
	background: #999;
	width: 180px;
	height: 250px;
	float: right;
	margin-right: 10px;
}

#rodape{
	width: 850px;
	height: 30px;
	text-align: center;
	background: #666;
	float: left;
	margin-top: 10px;
	padding-top: 10px;
}